


PORT=3001

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Prisma also supports the connection string format for PostgreSQL, MySQL and SQLite.
# DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public" # PostgreSQL
# DATABASE_URL="mysql://username:password@localhost:3306/mydb" # MySQL
# DATABASE_URL="sqlite:file:./dev.db" # SQLite
# DATABASE_URL="mongodb://username:password@localhost:27017/mydb" # MongoDB
# DATABASE_URL="sqlserver://username:password@localhost:1433" # SQL Server
DATABASE_URL="file:./dev.db"


NATS_SERVERS="nats://localhost:4222,nats://localhost:4223"